* {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  /* background-color: #111; */
  /* background-image:  linear-gradient(to top right, rgb(255, 255, 99), rgb(210, 210, 210) 70%); */
  /* background: radial-gradient(circle at top right, #ffd200 1%, #fff532 3%, #ffde7c 70%, #f8ffb1 90%); */
  background-image: url("../img/car.jpg");
  z-index: -1;
  background-size: cover;

}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: -15vh;
  margin-bottom: auto;
}

.App {
  text-align: center;
  margin: 0 auto;
  margin-top: 13vh;
  background-color: transparent;
  width: 100%;
}

@keyframes background-scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2000px 0;
  }
}

.text {
  font-family: "Poppins";
  color: #333;
  border-radius: 20px;
  padding: 4px;
  margin-top: 8px;
  width: 100%;
  font-weight: 600;
}

.m-15 {
  margin: 30px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10vh;
  width: 85%;
}

.form-container img {
  max-width: 50%;
  margin-right: 5vw;
}

.form-container form {
  font-family: "Poppins", serif;
  max-width: 70%;
  border: none;
  background: white;
  opacity: 0.8;
  border-radius: 10px;
  padding: 20px;
}

.form-control {
  background-color: transparent;
  opacity: 1;
  padding: 10px;
  border: none;
  margin-bottom: 3px;
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
  border-radius: 0;
  box-shadow: none;
}

.form-group label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1px;
  color: black;
}

ul {
  list-style: none;
  margin-top: 10vh;
}

li {
  display: inline-block;
  margin-right: 30px;
}

input[type="radio"] {
  margin-right: 10px;
  position: relative;
  top: -7px;
}

.list {
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Message {
  margin: 7px 20px;
  padding: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  color: white;
  background-color: black;
  border-radius: 1cap;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 10vh;
  width: 50%;
  margin: 0 auto;

}

#submit {
  font-family: "Poppins";
  font-weight: bold;
  margin-top: 10vh;
  font-size: medium;
  padding: 8px 40px;
  background: black;
  position: relative;
  border: none;
  transition: 0.5s;
  right: -11.5vw;
}

#submit:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#booknow {
  margin-bottom: 10vh;
}
